@* @model Inventorymanagementsystem.ViewModels.SaleItemViewModel *@

@* <tr> *@
@*     <td> *@
@*         <select name="SaleItems[@ViewData["index"]].ProductId" class="form-control" asp-items="Model.Products"></select> *@
@*     </td> *@
@*     <td> *@
@*         <input name="SaleItems[@ViewData["index"]].Quantity" class="form-control quantity-input" type="number" step="0.01" /> *@
@*     </td> *@
@*     <td> *@
@*         <input name="SaleItems[@ViewData["index"]].SellingPrice" class="form-control selling-price-input" type="number" step="0.01" /> *@
@*     </td> *@
@*     <td> *@
@*         <input class="form-control total-price-display" type="text" readonly /> *@
@*     </td> *@
@*     <td> *@
@*         <button type="button" class="btn btn-danger remove-item-row">Remove</button> *@
@*     </td> *@
@* </tr> *@
